@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: darkgray;
}

header {
    background-color: black;
    color: gray;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: black;
    text-align: center;
    padding: 5px;
    
    
}

nav > a {
    color: gray;
    font-weight: bold;
    text-decoration: none;
    margin: 15px;
}

nav > a:hover {
    background-color: gray;
    color: black;
    border-radius: 2px;
    transition-duration: 0.7;
}

main{
    max-width: 1000px;
    min-width: 500px;
    margin: auto;
}
main >p{
    display: flex;
    align-items: center;

}


main > h1, h2 {
    text-align: center;
}

.container {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 20px;
    
}

.container > p {
    flex-direction: column;
}



/* img {
    width: 200px;
    align-items: center;
} */
